.nav-bar{
    background-color: rebeccapurple;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-area{
    color: white
}
.nav-btn{
    background: transparent;
    border: 1px solid white
}